version: '3.8'

services:
  # DATABASE SERVICE
  db:
    image: mysql:8.0
    container_name: mysql_db
    restart: always
    environment:
      MYSQL_DATABASE: pm_app
      MYSQL_ALLOW_EMPTY_PASSWORD: "yes"
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql
      - ./init:/docker-entrypoint-initdb.d

  # BACKEND SERVICE
  backend:
    build: ./backend
    container_name: express_api
    ports:
      - "3000:3000"
    environment:
      - PORT=3000
      - DB_HOST=db
      - DB_USER=root
      - DB_PASSWORD=
      - DB_NAME=pm_app
      - JWT_SECRET=secret
    depends_on:
      - db

  # FRONTEND SERVICE
  frontend:
    build: ./frontend
    container_name: vue_app
    ports:
      - "5173:80"
    depends_on:
      - backend

volumes:
  db_data: