.nav-link[data-v-260f50f0]{font-size:.95rem;color:#d1d5db;font-weight:500;padding-bottom:4px;transition:all .2s ease}.nav-link[data-v-260f50f0]:hover{color:#fff}.active-link[data-v-260f50f0]{color:#fff;border-bottom:2px solid #3b82f6}
